In [1]:
import pandas as pd 
from sklearn.feature_extraction.text import TfidfTransformer 
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
docs=["the house had a tiny little mouse", 
"the cat saw the mouse", 
"the mouse ran away from the house", 
"the cat finally ate the mouse", 
"the end of the mouse story"
]

In [3]:
cv=CountVectorizer() 
word_count_vector=cv.fit_transform(docs)

In [6]:
print(word_count_vector.shape)
print(word_count_vector)
print(type(word_count_vector))

(5, 16)
  (0, 14)	1
  (0, 7)	1
  (0, 6)	1
  (0, 15)	1
  (0, 8)	1
  (0, 9)	1
  (1, 14)	2
  (1, 9)	1
  (1, 2)	1
  (1, 12)	1
  (2, 14)	2
  (2, 7)	1
  (2, 9)	1
  (2, 11)	1
  (2, 1)	1
  (2, 5)	1
  (3, 14)	2
  (3, 9)	1
  (3, 2)	1
  (3, 4)	1
  (3, 0)	1
  (4, 14)	2
  (4, 9)	1
  (4, 3)	1
  (4, 10)	1
  (4, 13)	1
<class 'scipy.sparse.csr.csr_matrix'>

In [13]:
cv.get_feature_names()

['ate',
 'away',
 'cat',
 'end',
 'finally',
 'from',
 'had',
 'house',
 'little',
 'mouse',
 'of',
 'ran',
 'saw',
 'story',
 'the',
 'tiny']

In [10]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True) 
tfidf_transformer.fit(word_count_vector)

TfidfTransformer()

In [11]:
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=cv.get_feature_names(),columns=["idf_weights"]) 
 
# sort ascending 
df_idf.sort_values(by=['idf_weights'])

         idf_weights
mouse       1.000000
the         1.000000
cat         1.693147
house       1.693147
ate         2.098612
away        2.098612
end         2.098612
finally     2.098612
from        2.098612
had         2.098612
little      2.098612
of          2.098612
ran         2.098612
saw         2.098612
story       2.098612
tiny        2.098612