In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [5]:
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))
df.head(15)
type(df["data"])

pandas.core.series.Series

In [4]:
df['datetime'] = pd.to_datetime(df['date'])
df = df.set_index('datetime')
df.drop(['date'], axis=1, inplace=True)
df.head()

                     data
datetime
2018-01-01 00:00:00    35
2018-01-01 01:00:00    82
2018-01-01 02:00:00    24
2018-01-01 03:00:00    87
2018-01-01 04:00:00    92